<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security" th:replace="~{index::layout(~{::section})}">
<head>
    <meta charset="UTF-8">
    <title>School Management</title>
    <link th:href="@{/css/bootstrap.css}" rel="stylesheet">
</head>
<body>
<nav></nav>
<section class="vh-100 bg-image img-fluid d-flex"
         style="background-image: url('/images/751448.jpg'); background-repeat: no-repeat; background-size: cover;">
    <div class="mask d-flex align-items-center h-100 gradient-custom-3">
        <div class="container" style="z-index: 1080;">
            <h1 >Welcome to Our School</h1>
        </div>
        
    </div>
</section>
<footer></footer>
</body>
</html>
